<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleSpectrumAU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B627C75F146B05A900DFE624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B63A96ED14657836002D8A37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B63A971014657AE9002D8A37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B63FD9041466F859002C70ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B63FD9241466F85B002C70ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B63FD9401466F990002C70ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B63FD94D1466F992002C70ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6B24A7C146B0A010030C1AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6E74275146D8A2200193D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6E74295146D8A2300193D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6E742C2146D8E5400193D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6EBFB4114853CB700EE53A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6EBFB5A14853CE200EE53A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
